.App{
    text-align: center;

  }
.header{
    width: 98.5%;
    height: 70%;
    margin: auto;
    background-color: rgb(191, 194, 14);
    padding: 10px;
  }
  .button{
      text-align: center;
  }
.upload{
    font-size: large;
    font-weight: bold;
    top: 67%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgb(191, 194, 14);
    width: 350px;
    padding: 15px;
    border: 2px solid rgb(5, 5, 5);
    margin: 7;
    opacity: .9;
    border-radius: 20px ;
}
.motto{
    text-align: center;
    font-size: 100%;
    text-decoration: underline overline;

}
.blue{
    padding: 15% ;
}
.main{
    background-color: gray;
}
.icon{
    text-align: center;
font-size: 500%;
}
.image{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgb(163, 146, 146);
    width: 300px;
    padding: 25px;
    border: 2px solid rgb(5, 5, 5);
    margin: 7;
    opacity: .9;
    border-radius: 20px ;
}
.choose{
    text-align: center;
    font-size: 120%;  
}
